:root {
    --cor-primaria: #001524;
    --cor-primaria2: #15616D;
    --cor-erro1: #78290F;
    --cor-sucesso2: #6ED949;
    --cor-neutraE1: #000000;
    --cor-neutraE2: #4E4E4E;
    --cor-neutraE3: #CACACA;
    --cor-neutraC4: #EEEEEE;
    --cor-neutraC5: #FFFFFF;
}

body{
    background: var(--cor-neutraC5);
}

body, *{
    font-family: Roboto, sans-serif;
    padding: 0px;
    margin: 0px;
}

.btn-amarelo{
    /* background: var(--cor-); */
    background: yellow;
}
.btn-verde{
    background: var(--cor-sucesso2);
}

.btn-principal{
    border-radius: 10px;
    padding: 16px;
    background: var(--cor-primaria);
    color: var(--cor-neutraC5);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border: none;
}

.btn-a{
    text-decoration: none;
}

@media screen and (min-width: 796px){
    .btn-principal{
        align-self: center;
        width: 220px;
        cursor: pointer;
    }
}