/* AREA APENAS PARA O BANNER */
.login-banner{
    background: var(--cor-primaria);
    padding: 16px 32px;
}

.banner-topo{
    color: var(--cor-neutraC5);
    text-align: center;
}

.banner-content{
    display: none;
}


/* AREA APENAS PARA O LOGIN */
.login-content {
    padding: 72px 32px 0 32px;
}

.login-title {
    margin-bottom: 16px;
    color: var(--cor-neutraE1);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.login-form {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    border-radius: 10px;
    background: var(--cor-neutraC5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-area-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-neutraE1);
}

.input-group input {
    padding: 16px 8px;
    border-radius: 4px;
    border: 1px solid var(--cor-neutraE1);
    background: var(--cor-neutraC5);

    color: var(--cor-neutraE2);
    font-size: 14px;
    font-weight: 500;
}

.login-footer {
    color: var(--cor-neutraE1);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.login-footer a{
    color: var(--cor-primaria2);
}

@media screen and (min-width: 796px){
    .login-container{
        display: flex;
        min-height: 100vh;
    }

    /* AREA APENAS PARA O BANNER */
    .banner-topo{
        font-size: 16px;
    }

    .login-banner{
        width: 50%;
    }

    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        height: 100%;
    }

    .banner-content h2{
        font-size: 40px;
        font-weight: 700;
        color: var(--cor-neutraC5);
        line-height: 56px;
        text-align: center;
    }
    
    .banner-content h3{
        color: var(--cor-neutraC5);
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
    }

    /* AREA APENAS PARA O LOGIN */
    .login-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-box-title{
        width: 480px;
    }
    
    .login-title{
        margin-bottom: 32px;
        font-size: 24px;
        text-align: left;
    }

    .login-form{
        padding: 40px;
        width: 400px;
    }

    .login-footer{
        font-size: 14px;
    }

}