.prin-container {
    padding: 24px 32px;
}

/* ESTILO DO ALERTA */
.prin-alerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 56px;
}

.prin-alerta h2, .prin-alerta p{
    color: var(--cor-neutraE1);
}

.prin-alerta h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.prin-alerta p{
    font-size: 14px;
    font-weight: 500;
}

.prin-btn{
    width: 90%;
}

@media screen and (min-width: 796px){
    .prin-container{
        max-width: 1128px;
        margin: 0 auto;
    }
    .prin-alerta{
        max-width: 936px;
        margin: 32px auto;
    }
    .prin-alerta h2{
        font-size: 40px;
    }
    .prin-alerta p{
        color: var(--cor-neutraE2);
        font-size: 28px;
        font-weight: 600;
    }
    .prin-btn{
        display: flex;
        justify-content: center;
    }
}